/*-----containers-----*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#status {
    font-size: 18px;
    font-family: Spartan, sans-serif;
}

#timer {
    font-size: 20px;
    padding-bottom: 15px;
    font-family: Spartan, sans-serif;
}

.boardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cellContainer {
    height: auto;
    width: auto;
}


#statusWrapper{
    text-align: center;
}

#mainWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 {
    font-family: Spartan, sans-serif;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 45px;
}


/*----cells----*/

.cellButton {
    height: 200px;
    width: 200px;
    border: none;
    background-color: white;
    font-size: 40px;
    font-family: Spartan, sans-serif;
    color: black;
}

#cell-0 {
    border-bottom: solid black .5px;
    border-right: solid black .5px;
}
#cell-1 {
    border-left: solid black .5px; 
    border-bottom: solid black .5px;
    border-right: solid black .5px;
}

#cell-2 {
    border-left: solid black .5px;
    border-bottom: solid black .5px;
}

#cell-3 {
    border-top: solid black .5px;
    border-right: solid black .5px;
    border-bottom: solid black .5px;
}

#cell-4 {
    border: solid black .5px;
}

#cell-5 { 
    border-top: solid black .5px;
    border-left: solid black .5px;
    border-bottom: solid black .5px;
}

#cell-6 {
    border-top: solid black .5px;
    border-right: solid black .5px;
}

#cell-7 {
    border-left: solid black .5px;
    border-top: solid black .5px;
    border-right: solid black .5px;
}

#cell-8 {
    border-left: solid black .5px;
    border-top: solid black .5px;
}



/*-------buttons--------*/

.start-button {
    border: none;
    background-color: tan;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 140px;
    font-family: Spartan, sans-serif;
}

.play-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
